PoseEstimation/densepose/DensePoseData/DensePose_COCO/
PoseEstimation/densepose/DensePoseData/eval_data/
PoseEstimation/densepose/DensePoseData/UV_data/

PoseEstimation/DensePose/

PoseEstimation/cocoapi/

PoseEstimation/OpenPose/

PyTorch/Tutorials/C\+\+FrontEnd/mnist/

PyTorch/Tutorials/C\+\+FrontEnd/build/checkpoints/

PyTorch/FaceLandmarkDetector/build/checkpoints/
