PoseEstimation/densepose/DensePoseData/DensePose_COCO/
PoseEstimation/densepose/DensePoseData/eval_data/
PoseEstimation/densepose/DensePoseData/UV_data/

PoseEstimation/DensePose/

PoseEstimation/cocoapi/

PoseEstimation/OpenPose/

PyTorch/Tutorials/C\+\+FrontEnd/mnist/

PyTorch/Tutorials/C\+\+FrontEnd/build/checkpoints/

PyTorch/FaceLandmarkDetector/build/checkpoints/

Reinforcement-Learning/DeepRL Homeworks/hw1/expert_data/

Reinforcement-Learning/DeepRL Homeworks/hw1/tensorboard-logs/

PyTorch/FaceLandmarkViewer/build/haarcascade_frontalface_alt2\.xml

PyTorch/FaceLandmarkViewer/build/lbfmodel\.yaml

*.csv
PyTorch/DEMO-FaceRecognition/visualizer/data/
PyTorch/DEMO-FaceRecognition/runs/face_rec_net_1/events.out.tfevents.1593666267.428f33b44759.7086.31
PyTorch/DEMO-FaceRecognition/runs/
PyTorch/DEMO-FaceRecognition/runs_backup/face_rec_net_1/events.out.tfevents.1593153219.3e498acd2046.1549.26
PyTorch/DEMO-FaceRecognition/runs_backup/
